@using System.IO;
@using System.Linq;
@using System.Globalization;
@model TaskManagement.Application.ReportPrint.Model.GroupedTaskDetailPdfVM;
@*IEnumerable<PayrollManagement.Application.ReportPrint.Model.ReportBenefitBillClaimPdfVM>*@
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>Task Report</title>
    <style type="text/css">
        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }

        .header {
            text-align: center;
            color: green;
            padding-bottom: 35px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            page-break-inside: auto;
        }

        td, th {
            border: 1px solid gray;
            padding: 3px 5px 3px 5px !important;
            font-size: 12px;
            text-align: left;
        }

        table th {
            background-color: whitesmoke;
            color: black;
            padding: 7px 5px 7px 5px !important
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }

        tr {
            page-break-inside: avoid;
            page-break-after: always
        }

        table.report-container {
            page-break-after: always;
        }

        thead.report-header {
            display: table-header-group;
        }

        tfoot.report-footer {
            display: table-footer-group;
        }

        table.report-container div.article {
            page-break-inside: avoid;
        }

        fieldset {
        }

        legend {
            color: black;
            padding: 5px 10px;
            border: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }

        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.0em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .amount {
            text-align: right !important;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>


</head>
<body>
    @{
        if (Model != null)
        {
            int k = 1;
            var group = Model;
            string imagePath = Model.CompanyLogoUri;
            {


                <table style="height:450px;">
                    <thead>
                        <tr>
                            @if (imagePath != null && imagePath != "")
                            {
                                <th colspan="2" style="border:none!important;color:white;background:white;">
                                    <img src="@imagePath" style="height:100px;width:100px;margin-bottom:5px" alt="company logo" />
                                </th>
                            }
                            <th colspan="6" style="border-style:none !important; background-color:white !important;">
                                <div class="report-header-cell" style="text-align:center !important; border-style:none !important; background-color:white !important; color:black">
                                    <div style="font-size:27px !important; font-weight:700 !important">@Model.CompanyName</div>

                                    <div style="font-size:12px !important;">@Model.Address</div>
                                    <div style="font-size:22px !important; margin-bottom:5px;">Task Report, From @Model.StartDate To @Model.EndDate</div>
                                    @*<div style="font-size:22px !important; font-weight:700 !important;">
                                            @empDetail.ReportTitle
                                        </div>*@

                                </div>
                            </th>
                        </tr>


                        <tr>
                            <th class="report-header-cell">
                                <div class="header-info">
                                    S/L
                                </div>
                            </th>
                            @*<th class="report-header-cell">
            <div class="header-info">
                Date
            </div>
        </th>*@
                            @*<th class="report-header-cell">
            <div class="header-info">
                Name
            </div>
        </th>*@


                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Task Name
                                </div>
                            </th>

                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Task Description
                                </div>
                            </th>
                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Assignee
                                </div>
                            </th>
                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Assigned By
                                </div>
                            </th>
                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Progress(%)
                                </div>
                            </th>

                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Status
                                </div>
                            </th>


                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Task Category
                                </div>
                            </th>
                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    Start Date
                                </div>
                            </th>

                            <th class="report-header-cell" style="text-align:left;">
                                <div class="header-info">
                                    End Date
                                </div>
                            </th>





                            @* <th  style="visibility:hidden!important; border-top:none!important">
            <div style="border-top:none!important">
                Signature
            </div>
        </th>*@


                        </tr>
                    </thead>
                    <tfoot class="report-footer text-center">

                        <tr class="text-center">
                            <td colspan="20" class="report-footer-cell" style="text-align:center;border-style:none !important;">
                                <div class="footer-info">

                                    <table style="border:none !important;" class="text-center">
                                        <!--@*<tr style="border:none !important;">
                                            <td colspan="3" style="border:none !important;">&nbsp;</td>
                                        </tr>
                                        <tr style="border:none !important;">
                                            <td colspan="3" style="border:none !important;">&nbsp;</td>
                                        </tr>*@-->
                                        <tr style="border:none !important;">
                                            <td colspan="3" style="border:none !important;">&nbsp;</td>
                                        </tr>
                                        <tr style="border:none !important;">
                                            <td colspan="3" style="border:none !important;">&nbsp;</td>
                                        </tr>
                                        <tr style="border:none !important;" class="text-center">

                                            <td style="border: none !important; text-align: left !important;">___________________</td>

                                        </tr>
                                        <tr style="border:none !important;" class="text-center">

                                            <td style="border: none !important; text-align: left !important;">
                                                Authorized By:
                                            </td>


                                        </tr>

                                    </table>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody class="report-content">
                        @{ string style = group.DataList.Count() < 3 ? "line-height: 140px; !important" : "line-height:auto; !important";
                        }
                        @{ int i = 1;}
                        @foreach (var item in group.DataList)
                        {
                            string status = item.StatusId == 1 ? "In progress" : item.StatusId == 2 ? "In queue" : item.StatusId ==3 ?  "Done": "In queue";
                        <tr class="@style">
                            <td class="report-content-cell @style">
                                <div class="main @style">@i</div>
                            </td>
                            @*<td class="report-content-cell @style" style="width:60px !important;">
            <div class="main @style">@item.DateString</div>
        </td>*@
                            <td class="report-content-cell rotate  @style" style="text-align:left">
                                <div class="main @style">
                                    @item.TaskName

                                </div>
                            </td>
                            <td class="report-content-cell @style" style="text-align:left;height:100px!important">
                                <div class="main @style">@item.TaskDescription</div>
                            </td>
                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@item.FullName</div>
                            </td>
                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@item.AssignedBy</div>
                            </td>
                            <td class="report-content-cell @style" style="text-align:left;height:100px!important">
                                <div class="main @style">@item.Progress</div>
                            </td>

                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@status</div>
                            </td>
                            
                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@item.TaskCategoryName</div>
                            </td>

                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@item.StartDate.Value.ToString("dd/MM/yyyy")</div>
                            </td>
                            <td class="report-content-cell @style" style="        text-align: left;">
                                <div class="main @style">@item.EndDate.Value.ToString("dd/MM/yyyy") </div>
                            </td>

                            @* <td class="report-content-cell @style amount" style="">
            <div class="main @style">@item.GrossSalary</div>
        </td>
                            *@

                            @*<td class="report-content-cell text-center @style" style="text-align: left;border-right:2px solid black!important;">

            <img style="height:100px;width:95%;" class="main" src="@(item.EmployeeImageUri)" />
        </td>*@


                        </tr>
                            i++;
                        }
                        




                    </tbody>

                </table>
                <table>
                    <tr>
                        <td style="border: none !important; text-align: left !important; font-size: 10px;">
                            *This is computer generated report. No signature required
                        </td>
                        <td style="border: none !important; text-align: right !important; font-size: 10px;">
                            @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss", CultureInfo.InvariantCulture)
                        </td>
                    </tr>
                </table>


                if (k % 2 != 0)
                { <hr />}
                k++;
            }
        }

        else
        {
            <div><h1>No Data Found!!!</h1></div>
        }

    }
</body>
</html>